<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hello ExampleSystem!</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  <%= csrf_meta_tag() %>
</head>

<body>
  <div class="content">
    <%= @inner_content %>
  </div>
  <script src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
</body>

</html>
