<div class="sumForm">
  <h1>Please insert some number.</h1>
  <%= f = form_for @data, "/", [phx_submit: "submit", as: :data] %>
  <%= number_input(f, :to, autofocus: true) %>
  </form>
  <br />

  <div>
    <%= for operation <- @operations do %>
    <div>∑(1..<%= operation.input %>) = <%= operation.result %></div>
    <% end %>
  </div>
</div>
