/* This file is for your main application css. */

@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body, input {
  font-size: 24px !important;
  font-family: "Courier new";
}

.mainGrid {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: 100%;
  justify-items: center;
}

.form {
  margin-top: 0px;
  margin-bottom: 0px;
}

.loadGrid {
  display: grid;
  grid-row-gap: 2px;
  grid-template-columns: 33% 33% 33%;
  font-size: 24px !important;
  justify-items: center;
  width:70%;
  margin: auto;
}

.loadGrid button {
  display: none;
}

.statsGrid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding-top: 50px;
  padding-bottom: 50px;
  width:70%;
  margin: auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.statsGrid div {
  display: grid;
  justify-items: center;
}

.chartsGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 24px !important;
  justify-items: center;
  height: 100px;
}

.graphGrid {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
}

.highlight {
  background-color: lightgray;
}

.paragraph {
  padding-top: 30px;
}
