<div class="container">
  <%= if @result do %>
  <h2>
    ∑(1..<%= @to %>) = <%= @result %>
  </h2>
  <% end %>


  <%= form_tag("/sum", id: "sumForm", method: :get) do %>
    <input id="number" name="number" type="number" value="" autofocus="true">
  <% end %>
</div>
